.link.active {
    text-decoration: none;
    color: whitesmoke;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #1f2937 #e5e7eb;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #e5e7eb;
}

*::-webkit-scrollbar-thumb {
    background-color: #1f2937;
    border-radius: 10px;
    border: 3px solid #ffffff;
}
